<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        {% block metas %}
            <meta name="keywords" content="{% block keywords %}{% endblock %}">
            <meta name="description" content="{% block description %}{% endblock %}">
            <meta name="geo.region" content="{% block region %}FR{% endblock %}">
            <meta name="geo.placename" content="{% block placename %}Saint-Mande{% endblock %}">
            <meta name="geo.position" content="{% block position %}48.845474;2.424425{% endblock %}">
            <meta name="ICBM" content="{% block ICBM %}48.845474, 2.424425{% endblock %}">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">  
        {% endblock %}   
        <title>{% block title %}SGN Template : DevBlog{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" media="screen" href="{{ asset('bundles/sgntemplate/css/bootstrap-2.3.2/bootstrap.min.css') }}" />
            <link rel="stylesheet" media="screen" href="{{ asset('bundles/sgntemplate/css/bootstrap-2.3.2/bootstrap-responsive.min.css') }}" />
            <link rel="stylesheet" media="screen" href="{{ asset('bundles/sgntemplate/css/devblog.css') }}" />
        {% endblock %}
        {% block icons %}
            <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
        {% endblock %}
        {% block topjavascripts %}{% endblock %}
    </head>
    <body style="background-color:white;">
        <header>
            {% block header %}
            <div class="container">
                <h1>{% block header_h1 %}DevBlog Template{% endblock %}</h1>
                <p class="lead">{% block header_p %}Le template du site DevBlog{% endblock %}</p>
            </div>
            {% endblock %}
        </header>
        <div class="container">
            <div class="row">
                <div class="span3 bs-docs-sidebar">
                    <nav id="sidenav">
                        {% block sidemenu %}{% endblock %}
                    </nav>
                </div>
                <div class="span9">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        <footer>
            {% block footer %}
                <div class="container">
                    {% block footer_container %}
                    <p>Template "DevBlog" créé par <a href="https://twitter.com/Kreviouss" target="_blank">Kévin EYERMANN</a></p>
                    <p>Ce template utilise : <a href="http://twitter.github.io/bootstrap/index.html" target="_blank">Bootstrap</a> et <a href="http://jquery.com/" target="_blank">jQuery</a></p>
                    {% endblock %}
                </div>
            {% endblock %}
        </footer>

        {% block javascripts %}
            <script src="{{ asset('bundles/sgntemplate/js/jquery-1.10.2/jquery.min.js') }}"></script>
            <script src="{{ asset('bundles/sgntemplate/js/bootstrap-2.3.2/bootstrap.min.js') }}"></script>
            <script>
                $('#sidenav').affix({'offset': {
                    top: 210, 
                    bottom: 270
                }});
            </script>
        {% endblock %}
    </body>
</html>