{% extends "SGNTemplateBundle:DevBlog:base.html.twig" %}

{% block header_h1 %}
	<small>The</small>DevBlog
	<img style="margin-left:5px;" src="{{ asset('bundles/sgndevblog/images/lego.png') }}" alt="logo" />
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
    <link rel="stylesheet" media="screen" href="{{ asset('bundles/sgndevblog/css/devblog.css') }}" />
{% endblock %}

{% block header_p %}Ressources, bonnes pratiques et actualité des développements au SGN.{% endblock %}

{% block header_container_more %}
	<div>
		{% if app.request.get('_route') == 'sgn_devblog_blog_index' %}
			<div class="headerMore">
				<p><strong>Bienvenu sur la page d'accueil du blog.</strong></p><p>Cette page regroupe l'ensemble des articles du blog, exception faite des articles tagués : <a href="{{ path('sgn_devblog_blog_tags_1', {'tags': 'pour-les-curieux'}) }}" class="label label-info">#pour-les-curieux</a>.</p>
			</div>
		{% elseif 'pour-les-curieux' in tagList|default([]) %}
			<div class="headerMore">
				<p><span class="label label-info">#pour-les-curieux</span> : Le tag fourre tout, mais surtout celui à utiliser pour ne pas polluer la page actualité.</p>
			</div>
		{% endif %}
	</div>
{% endblock %}

{% block sidemenu %}
	{{ esMenu('main') }}
	<div style="width: 228px;text-align:left;"><span class="label {% if entities|length == 0 %}{% else %}label-success{% endif %}" style="text-align:right;margin-top:15px;">{{ entities|length }}{% if entities|length == 1 or entities|length == 0 %} article trouvé.{% elseif  entities|length > 1 %} articles trouvés.{% endif %}</span></div>
	{% if tagElems is defined %}
		<h5 style="text-align:left;">Liste des tags : </h5>
		<div id="tagList">
		{% if tagList is defined%}
			{% for tag in tagList %}
				{% set newList = '' %}
				{% for tagUrl in tagList %}
					{% if tagUrl != tag %}
						{% set newList = newList~'/'~tagUrl %}
					{% endif %}
				{% endfor %}
				{% set newList = newList|trim('/') %}
				{% if newList == '' %}
					<a class="btn btn-mini btn-inverse" href="{{ path('sgn_devblog_blog_index') }}" title="{{ tag }}">#{{ tag }}</a> <em class="nbUse"><span class="badge badge-important">-</span></em><br/>
				{% else %}
					<a class="btn btn-mini btn-inverse" href="{{ path('sgn_devblog_blog_tags_1', {'tags': newList }) }}" title="{{ tag }}">#{{ tag }}</a> <em class="nbUse"><span class="badge badge-important">-</span></em><br/>
				{% endif %}
			{% endfor %}
			{% for tag in tagElems %}
				<a class="btn btn-mini btn-primary" href="{{ path('sgn_devblog_blog_tags_1', {'tags': tagList|join('/') ~ '/' ~ tag[0].name}) }}" title="{{ tag[0].name }}">#{{ tag[0].name }}</a> <em class="nbUse"><span class="badge badge-success">{{ tag['a'] }}</span></em><br/>
			{% endfor %}
		{% else %}
			{% for tag in tagElems %}
				<a class="btn btn-mini btn-primary" href="{{ path('sgn_devblog_blog_tags_1', {'tags': tag[0].name}) }}" title="{{ tag[0].name }}">#{{ tag[0].name }}</a> <em class="nbUse"><span class="badge badge-success">{{ tag['a'] }}</span></em><br/>
			{% endfor %}
		{% endif %}
		</div>
	{% endif %}
{% endblock %}

{% block body %}
	{% if entities is not empty %}
        {% for entity in entities %}</ul>
            {{ entity.slug|article() }}
        {% endfor %}
	 
	    {% if pager.haveToPaginate %}
	        {{ pagerfanta(pager, 'twitter_bootstrap_translated', {'routeName': 'sgn_devblog_blog_index_1'}) }}
	    {% endif %}
	{% else %}
		<div class="alert" style="margin-top: 30px;">
			Aucun article trouvé {% if tagList is defined%}pour les tags suivants : {% for tag in tagList %}<a class="btn btn-info" href="{{ path('sgn_devblog_blog_tags_1',{'tags': tag}) }}" title="{{ tag }}">#{{ tag }}</a>{% endfor %}{% endif %}.
		</div>
	{% endif %}
{% endblock %}
                    
{% block footer_container %}
	<p>Ce site a été créé pour le SGN par <span style="color:#444;">Kévin Eyermann</span> (<a href="mailto:kevin.eyermann@ign.fr">email</a>, <a href="http://twitter.com/Kreviouss">Twitter</a>, <a href="https://plus.google.com/103007505577713142780">Google+</a>).</p>
	<p>Il a pour but de centraliser les échanges entre les développeurs,<br/>organiser les développements, et permettre une meilleur communication.</p>
	{{ esMenu('footer_link') }}
{% endblock %}

{% block javascripts %}
	{{ parent() }}
    {{ article_script('ROLE_DEV', false) }}
    {{ transEditScript('ROLE_TRANSLATION', false) }}
{% endblock %}